# Python bytecode / caches
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
**/.venv/

# models
models/
**/models/

# Rasa
.rasa/
**/.rasa/

# Sujet PDF
PROJET_Intégration_Interaction_2025_2026_final.pdf
**/PROJET_Intégration_Interaction_2025_2026_final.pdf