# Python bytecode / caches
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
**/.venv/

# models
models/
**/models/

# Sujet PDF
PROJET_Intégration_Interaction_2025_2026_final.pdf
**/PROJET_Intégration_Interaction_2025_2026_final.pdf
# Test files
src/tests/test_local.py
**/src/tests/test_local.py
src/tts_outputs/
**/src/tts_outputs/
start_rasa_with_api.ps1
start_rasa_with_api.ps1
